.UserInput {
    width: 100%;
    padding-bottom: 50px;
    background-color: transparent;
}

.Header {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    margin: 40px 0;
}

.TextFieldSynonymBox {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.TextFieldBox {
    width: 60%;
    padding: 20px 20px 50px;
    border: 1px solid;
    position: relative;
    margin: 0 10px;
    min-height: 30vh;
    position: relative;
    background-color: transparent;
}

.SynonymBox {
    position: relative;
    margin: 0 10px;
    animation: SlideIn 0.3s ease;
}

.SynonymTable {
    border: 1px solid black;
    position: sticky;
    top: 100px;
    left: 0;
    padding: 0;
    padding: 15px 0;
    font-weight: 1.2rem;
}

td {
    min-width: 60px;
    padding: 2px 0;
}

.NameFieldItem {
    padding-left: 10px;
    cursor: pointer;
}

.CategoryHeader {
    padding-left: 20px;
    position: relative;
}

.SeverityHeader {
    padding: 0 10px 0 20px;
    position: relative;
}

.QuestionIcon {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%);
    opacity: .5;
}

.TextField {
    resize: none;
    width: 100%;
    background-color: transparent;
    padding: 0;
    z-index: 1000;

    font-size: .9rem;
    font-family: inherit;
    font-weight: 300;
    outline: none;
    border: none;
    letter-spacing: .5px;
}

.HighlightText {
    position: absolute;
    color: transparent;
    background-color: transparent;
    width: calc(100% - 40px);
    padding: 0;
    z-index: 0;

    font-size: .9rem;
    font-family: inherit;
    font-weight: 300;
    outline: none;
    border: none;
    letter-spacing: .5px;
    white-space: pre-line;
    pointer-events:none;
}

mark {
    border-radius: 3px;
    background-color: #005e86;
}

.CheckButton {
    position: absolute;
    bottom: 10px;
    right: 20px;

    background: transparent;
    border: 1px solid black;
    border-radius: .25rem;
    width: 100px;
    height: 30px;

    outline: none;
    font-weight: 600;
}

.NameFieldItem:hover .Synonym{
    display: inline-block;
    min-width: 50vw;
    min-height: 100%;
}

@keyframes SlideIn {
    from {
        left: 40px;
    }
    to {
        left: 0px;
    }
}

@media (max-width: 768px) {
    .TextFieldSynonymBox {
        flex-direction: column;
        align-items: center;
    }

    .TextFieldBox {
        width: 90%;
        box-sizing: border-box;
        margin: 0;
    }
    
    .SynonymBox {
        width: 90%;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        position: static;
    }

    .SynonymTable {
        width: 100%;
        font-size: 1.2rem;
    }

    .NameFieldItem {
        padding-left: 30px;
        cursor: pointer;
    }

    .NameFieldItem:hover .Synonym {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: 90vw;
    }
}