.UserInput {
    min-height: 80vh;
    width: 100%;
}

.Header {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    margin: 40px 0;
}

.TextFieldSynonymBox {
    display: flex;
    justify-content: center;
}

.TextFieldBox {
    width: 60%;
    /* min-height: 70vh; */
    padding: 15px 15px 50px;
    border: 1px solid;
    position: relative;
    margin-right: 10px;
}

.SynonymBox {
    position: relative;
    margin-left: 10px;
    animation: SlideIn 0.3s ease;
}

.SynonymTable {
    border: 1px solid black;
    position: sticky;
    top: 70px;
    left: 0;
    padding: 0;
    padding: 15px 10px;
}

td {
    min-width: 60px;
}

.NameFieldItem {
    padding-right: 20px;
    position: relative;
    cursor: pointer;
}

.TextField {
    resize: none;
    width: 100%;
    margin: auto;
    height: 70vh;
    background-color: transparent;

    box-sizing: border-box;

    font-size: .9rem;
    font-family: inherit;
    font-weight: 300;
    outline: none;
    border: none;
    letter-spacing: .5px;
}

.CheckButton {
    position: absolute;
    bottom: 10px;
    right: 20px;

    background: transparent;
    border: 1px solid black;
    border-radius: .25rem;
    width: 100px;
    height: 30px;

    outline: none;
    font-weight: 600;
}

.Synonym {
    position: absolute;
    top: -15px;
    right: 100%;
    display: none;
    list-style: none;
    padding-inline-start: 0;
    z-index: 5;
    padding: 20px;
}

.NameFieldItem:hover .Synonym{
    display: inline-block;
    min-width: 300px;
}

@keyframes SlideIn {
    from {
        left: 40px;
    }
    to {
        left: 0px;
    }
}

@media (max-width: 768px) {
    .TextFieldSynonymBox {
        flex-direction: column;
        align-items: center;
    }

    .TextFieldBox {
        width: 80%;
        margin: 0;
    }
    
    .SynonymBox {
        width: 80%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
}