.FAQ {
    width: 100%;
    padding: 60px 0 30px;
    min-height: calc(100vh - 90px);
    transition: background-color 0.2s ease;
}

.MainHeader {
    text-align: center;
    margin: 50px 5vw;
}

.MainBox {
    width: 90%;
    max-width: 750px;
    transform: translate(-50%);
    margin-left: 50%;
    padding: 12px 30px 6px;
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
    box-sizing: border-box;
}

.Section {
    margin-bottom: 30px;
}

.Question {
    font-weight: 500;
}

.Answer {

}

.Answer bold {
    font-weight: 600;
}

.Answer::selection, .Question::selection, .MainHeader::selection, .Answer bold::selection {
    color: inherit;
    background-color: rgb(196, 196, 196);
}