.SideDrawer {
    position: absolute;
    right: 0;
    top: calc(60px + 10vh);
    /* transform: translate(100%); */
    padding: 20px 0 50px;
    width: 60vw;
    z-index: 8;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.ListBox {
    list-style: none;
    padding-inline-start: 0;
}

.Switch {
    display: inline-block;
    margin-left: calc(50% - 50px);
}

.ListButton {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    
    border-style: solid;
    border-width: 0 0 0 3px;
    background-color: transparent;

    margin: 3px 0;
    padding-left: 30px;
    font-size: 1.2rem;
}