.Footer {
    height: 100px;
    box-sizing: border-box;
    background-color: red;
    padding: 20px 0;
    transition: background-color 0.2s ease;
    position: relative;
    z-index: 10;
}

.DarkModeBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: red;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 12;
}

.NameYear {
    /* Requires relative position due to z-index issue when altering opacity */
    position: relative;
    margin: 0;
    text-align: center;
    font-weight: 300;
    z-index: 15;
}

.InfoBox {
    /* Requires relative position due to z-index issue when altering opacity */
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 15;
}

.Icons {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
}

.LinkIcon {
    opacity: .5;
}

.LinkIcon:hover {
    opacity: 1;
}