.Inspect {
    background-color: transparent;
    margin-bottom: 50px;
}

.InspectBox {
    width: 90%;
    max-width: 800px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid;
    transition: height 0.3s ease;
}

.NotFoundMessage {
    text-align: center;
}