.Navbar {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    min-height: 60px;
    padding: 0;
    position: relative;
    z-index: 10;
}

.Logo {
    margin: 0;
    margin: 12px 0 0 50%;
    transform: translate(-50%);
    display: inline-block;
    font-size: 26px;
    user-select: none;
}

.ListBox {
    list-style: none;
    margin: 0;
    font-weight: 500;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: calc(150px + 12vw);
    padding: 0;
    position: absolute;
    top: 20px;
    right: 5vw;
}

.ListItem {
    cursor: pointer;
}

.ListItem:hover {
    opacity: .8;
}

@media (max-width: 1200px) and (min-width: 500px) {
    .Logo {
        margin: 0;
        transform: none;
        position: absolute;
        top: 12px;
        left: 10vw;
    }
}

@media (max-width: 499px) {
    .ListBox {
        left: 50%;
        top: 70px;
        transform: translate(-50%);
        width: 100%;
    }

    .Navbar {
        height: 110px;
    }
}