.About {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.AboutBox {
    width: 90%;
    box-sizing: border-box;
    max-width: 800px;
    border: 1px solid;
    padding: 25px 20px 0;
    margin: 50px 0;
}

.MainHeader {
    text-align: center;
    margin: 0;
    font-weight: 500;
}

.SecondaryHeader {
    text-align: center;
    font-weight: 600;
}

.Section {
    margin: 0 0 40px;
}

.Text {
    font-size: 1rem;
    font-weight: 400;
}